<div class="queryString-wrapper">
  <input #queryString type="text" (keyup)="search(queryString.value)"name="search" class="form-control" placeholder="Search..">
</div>

<div class="wrapper">
  <ul class="filter-select">
    <a href="artist_page" target=""> 
      <li class="item" *ngFor="let result of results" class="filter-select-list">
        <img src="{{result.images['2']?.url}}" class="image" alt="" width="50" height="50">
        <p class="artist-name">{{result.name}}</p>
        <!-- <a [href]="artista.external_urls.spotify" target="_blank"></a> -->
        <span class="tags" *ngFor='let genre of result?.genres | slice:0:6'>{{genre}}</span>
      </li>
    </a>
  </ul>
</div>
